#avisos{
    position: relative;
    top: 1%;
    left: 2%;
    width: 95%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
    z-index: 100;
}

#avs{
    width: 90%;
    height: 80%;
    text-align: center;
    position: relative;
    left: 6%;
    font-size: 13px;
    top: -2%;
    box-shadow: 0px 0px 14px #5c5c5c, -261px -7px 14px #ffffff;
    border-radius: 12px;
}

#aviso1{
    position: relative;
    top: 35px;
    width: 90%;
    left: 5%;
    border-radius: 3px;
    height: 14%;
    box-shadow: inset 1px 3px 3px #cacaca, inset -16px -5px 10px #f6f6f6
}

#aviso2{
    position: relative;
    top: 12%;
    width: 90%;
    left: 5%;
    border-radius: 3px;
    height: 14%;
    box-shadow: inset 1px 3px 3px #cacaca, inset -16px -5px 10px #f6f6f6
}

#aviso3{
    position: relative;
    top: 16%;
    width: 90%;
    left: 5%;
    border-radius: 3px;
    height: 14%;
    box-shadow: inset 1px 3px 3px #cacaca, inset -16px -5px 10px #f6f6f6
}

#aviso4{
    position: relative;
    top: 20%;
    width: 90%;
    left: 5%;
    border-radius: 3px;
    height: 14%;
    box-shadow: inset 1px 3px 3px #cacaca, inset -16px -5px 10px #f6f6f6
}

#aviso5{
    position: relative;
    top: 24%;
    width: 90%;
    left: 5%;
    border-radius: 3px;
    height: 14%;
    box-shadow: inset 1px 3px 3px #cacaca, inset -16px -5px 10px #f6f6f6
}

#imgAviso1{
    position: relative;
    top: 10%;
    height: 93%;
    width: 97%;
}

#imgAviso2{
    position: relative;
    top: 10%;
    height: 93%;
    width: 97%;
}

#imgAviso3{
    position: relative;
    top: 10%;
    height: 93%;
    width: 97%;
}

#imgAviso4{
    position: relative;
    top: 10%;
    height: 93%;
    width: 97%;
}

#imgAviso5{
    position: relative;
    top: 10%;
    height: 93%;
    width: 97%;
}

#imgAviso1{
    position: relative;
    top: 10%;
    height: 93%;
    width: 97%;
}