<ion-header>
  <ion-toolbar color="temaadm">
    <ion-buttons mode="md" slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">rhweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="avisos" mode="md" color="temaadm" class="shadow">
    Avisos</ion-button>
  <div id="avs" class="animate__animated animate__fadeInDown">
    <div id="aviso1">
      <img id="imgAviso1" src="../../assets/imgs/aviso1.png">
    </div>
    <div id="aviso2">
      <img id="imgAviso2" src="../../assets/imgs/aviso2.png">
    </div>
    <div id="aviso3">
      <img id="imgAviso3" src="../../assets/imgs/aviso3.png">
    </div>
    <div id="aviso4">
      <img id="imgAviso4" src="../../assets/imgs/aviso4.png">
    </div>
    <div id="aviso5">
      <img id="imgAviso5" src="../../assets/imgs/aviso5.png">
    </div>
  </div>
</ion-content>
