<ion-header>
  <ion-toolbar color="temaadm">
    <ion-buttons mode="md" slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">rhweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="avisos" mode="md" color="temaadm" class="shadow">
    Avisos</ion-button>
  <div id="avs" class="animate__animated animate__fadeInDown">
    <div id="aviso1">
      asasas
    </div>
    <div id="aviso2">
      asasas
    </div>
    <div id="aviso3">
      asasas
    </div>
  </div>
</ion-content>
