<ion-header>
  <ion-toolbar color="temaadm">
    <ion-buttons mode="md" slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">rhweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="noticias" mode="md" color="temaadm" class="shadow">
    Notícias</ion-button>

  <div id="not" class="animate__animated animate__fadeInDown">
    <div id="notConteudo" class="animate__animated animate__fadeInDown">
      <div id="not1">
        <img id="imgNot1" src="../../assets/imgs/not1.png">
      </div>
      <div id="not2">
        <img id="imgNot2" src="../../assets/imgs/not2.png">
      </div>
    </div>
  </div>
</ion-content>
