<ion-header>
  <ion-toolbar color="temaadm">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">Editar Benefício</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="contentEdita text-center">
  <ion-item>
    <ion-label position="floating" class="my-label" color="temaadm">DESCRIÇÃO:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="my-label"  color="temaadm">TIPOS DE BENEFÍCIO:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="my-label"  color="temaadm">TIPO DE DESCONTO:</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating" class="my-label"  color="temaadm">DESCONTO:</ion-label>
    <ion-input></ion-input>
  </ion-item>
</div>
</ion-content>
