<ion-header>
  <ion-toolbar color="temaadm">
    <ion-buttons mode="md" slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios">rhweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="quemSomos" mode="md" color="temaadm" class="shadow">
    Quem somos nós?</ion-button>
  <div id="qsn" class="animate__animated animate__fadeInDown">
    <div id="qsnTxt" class="animate__animated animate__fadeInDown">
      Nós somos o RHweb, um projeto pequeno que começou na faculdade em 2021 e cresceu exponencialmente com o passar dos
      meses. Nosso objetivo é facilitar a relação entre a empresa e funcionário, trazendo cada vez mais a tecnologia
      para o nosso dia a dia.

      Neste app é possível encontrar informações sobre a empresa e processos seletivos, avisos sobre contracheque,
      imposto de renda, dia do pagamento, etc.

      Esperamos que tenha uma experiência satisfatória com o app.
    </div>
  </div>
</ion-content>
