<ion-header>
  <ion-toolbar color="light">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title mode="ios" color="temaadm">rhweb</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button id="btnQuemSomos" mode="md" color="temaadm" class="shadow" (click)="navQuemSomos()">
    Quem somos nós?</ion-button>
  <ion-button id="btnAvisos" mode="md" color="temaadm" class="shadow" (click)="navAvisos()">
    Avisos</ion-button>
  <ion-button id="btnNoticias" mode="md" color="temaadm" class="shadow" (click)="navNoticias()">Notícias</ion-button>
  <img id="imgInicioAdm" src="../../assets/imgs/img-inicio.png" class="animate__animated animate__fadeInRight">
  <ion-button id="btnDados" mode="md" color="temaadm" class="shadow">Meus Dados</ion-button>
</ion-content>
