#btnAvisos{
    position: relative;
    top: 4%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}

#btnNoticias{
    position: relative;
    top: 5%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}

#imgInicioAdm{
    position: relative;
    top: 4%;
    left: 9%;
}

#btnQuemSomos{
    position: relative;
    top: 3%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}

#btnDados{
    position: relative;
    top: 4%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}