<ion-header>
  <ion-toolbar color="temaadm">
    <ion-buttons slot="start">
      <ion-button (click)="exibiSearchbar()">
        <ion-icon name="search"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
    <ion-title mode="ios">Funcionários</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content style="height: 100%;">
  <ion-tabs>
    <ion-tab-bar id="tab" slot="top" class="shadow-lg">
      <ion-tab-button tab="data">
        <ion-icon name="clipboard-outline" class="iconColor"></ion-icon>        
        <ion-label class="iconColor">SITUAÇÃO</ion-label>       
      </ion-tab-button>

      <ion-tab-button tab="cargo">
        <ion-icon name="briefcase-outline" class="iconColor"></ion-icon>
        <ion-label class="iconColor">CARGO</ion-label>
      </ion-tab-button>

      <ion-tab-button tab="situacao">
        <ion-icon name="calendar-outline" class="iconColor"></ion-icon>
        <ion-label class="iconColor">DATA</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

  <ion-searchbar mode="md" *ngIf="visibleSearchbar" class="animate__animated animate__fadeIn animate__faster	500ms">
  </ion-searchbar>

  <ion-list id="list">
    <ion-item *ngFor="let funcionario of funcs" (click)="navEditCadastro()">
      <img class="funImg" src="../../assets/imgs/teste1.png">
      <ion-label id="teste">
        <h3 class="funNome">{{ funcionario.nome }}</h3>
        <h3 class="funCargo">{{ funcionario.cargo}}</h3>
        <h4 class="{{classSitua}}">{{ funcionario.situacao.descricao }}</h4>
      </ion-label>
      <ion-item-divider>
        <ion-note class="note" slot="end" mode="ios">2019-PRESENTE</ion-note>
      </ion-item-divider>
    </ion-item>
  </ion-list>
</ion-content>
