#btnQuemSomos{
    position: relative;
    top: 7%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}

#btnAvisos{
    position: relative;
    top: 8%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}

#btnNoticias{
    position: relative;
    top: 9%;
    left: 6%;
    width: 88%;
    height: 52px;
    text-transform: capitalize;
    font-family: inherit;
    --border-radius: 10px;
}

#imgInicioAdm{
    position: relative;
    top: 8%;
    left: 9%;
}