#container {
  text-align: center;
  
  position: absolute;
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}

#container strong {
  font-size: 20px;
  line-height: 26px;
}

#container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

#container a {
  text-decoration: none;
}

ion-content{
--background: #fff url('../../assets/imgs/fundo.png') no-repeat center center / cover;
}

#btnAdm{
  margin-top: 71%;
    position: relative;
    height: 46px;
    text-transform: capitalize;
    font-family: sans-serif;
}

#btnFun{
    height: 46px;
    text-transform: capitalize;
    font-family: sans-serif;
}

.teste{
  --color: #003D5A;
  color: #003D5A;
}

.imgrh{
  height: 216px;
    position: relative;
    left: 41%;
}
